* {
  padding: 0px;
  margin: 0px;
}

.app {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #dddddd;
  gap: 15px;
  height: 600px;
  padding: 15px;
}

.app-flex {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.header {
  background-color: #6aa84f;
  width: 95%;
  height: 100px;
}

.main-content {
  display: flex;
  justify-content: space-around;
  background-color: #e06666;
  height: 450px;
  width: 65%;
  flex-flow: column;
  align-items: center;
}

.navigation {
  background-color: #6fa8dc;
  height: 450px;
  width: 25%;
}

.subcontent-box {
  display: flex;
  justify-content: space-around;
  width: 93%;
}

.subcontent {
  background-color: #ffd966;
  height: 280px;
  width: 30%;
}
.advertisements {
  background-color: #b4a7d6;
  height: 100px;
  width: 90%;
}